.NavBar {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    background-color: #222222;
    padding: 5px;
    margin-top: 0px;
}

.list {

    color:#222222;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    margin: 25px;;
    background-color: white;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color:grey;
}

body {
    margin:0px;
    /* background-color: rgb(39, 89, 139); */
    background-color: rgb(37, 150, 190);
}
