
/* For Home Page and Signup */
.title-box{
    display: inline-block;
    padding-right: 25px;
}

.nav-box {
    display: inline-block;
}

.nav-list {
    display: flex;
    text-align: center;
    padding: 0px;
    list-style-type: none;
}

.form-box {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.form-label {
    text-align: center;
}

/* For Magazine Page */
.inventory {
    width: 100%;
    height: 500px;
    /* margin: 30px; */
    text-align: center;
    /* display:flex;
    flex-wrap: wrap; */
}

.magazine {
    width: 200px;
    height: 320px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: inline-block;
    transition: transform 0.5s;
}

.magazine:hover {
    border-color: rgb(152, 67, 67);
    transform: translateY(-5px);
}

input {
    background-color: rgb(152, 67, 67);
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;

}

body {
    margin: 0px;
    /* background-color: rgb(39, 89, 139); */
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding-left: 10px;
    padding-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:beige;
}

nav {
    background-color: rgb(152, 67, 67);
    color: white;
    padding: 15px;
}