
/* For Home Page and Signup */
.title-box{
    display: inline-block;
    padding-right: 25px;
}

.nav-box {
    display: inline-block;
}

.nav-list {
    display: flex;
    text-align: center;
    padding: 0px;
    list-style-type: none;
}

.form-box {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding-bottom: 20px;
}

.form-label {
    text-align: center;
}

/* For Magazine Page */
.inventory {
    width: 100%;
    height: 500px;
    /* margin: 30px; */
    text-align: center;
    /* display:flex;
    flex-wrap: wrap; */
}

.magazine {
    width: 200px;
    height: 320px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: inline-block;
    transition: transform 0.5s;
}

.magazine:hover {
    border-color: rgb(152, 67, 67);
    transform: translateY(-5px);
}

input {
    background-color: rgb(152, 67, 67);
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;

}

body {
    margin: 0px;
    /* background-color: rgb(39, 89, 139); */
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding-left: 10px;
    padding-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:beige;
}

nav {
    background-color: rgb(152, 67, 67);
    color: white;
    padding: 15px;
}
text {
    width:5px;
}

/* Homepage Images */
img {
    width: 450px;
    height: 300px;
}
/* ul {
    display: none; 
} */

p {
    display: inline;
    margin:125px;
}

.img-container {
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    width: 450px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    margin-bottom: 0px;
    transition: transform 0.5s;
}

.home-container { 
    text-align: center; 
    margin: 50px; 
    margin-left: auto;
    margin-right: auto;
}

/* the styles for the carousel */
.carousel-container {
	text-align: center;
}
.button_panel	{
	height: 125px;
	padding: 50px 15px;
	float: left;
}
.button_panel img {
	width: 40px;
	height: 40px;
}
#display_panel {
	height: 400px;
	width: 400px;
	overflow: hidden;
	float: left;
}
#image_list {
	left: 0px;
	position: relative;   
    width: 1650px;
    list-style: none;  
}
#image_list li	{
	float: left;
	width: 400px;
}
#image_list li img	{
	width: 400px;
	
}
